* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
}

#content-strip {
  flex-grow: 1;
  width: 80%;
  /* border-style: solid; */
  /* border-width: 0px 2px; */
  padding: 7rem 5rem;
  background-color: white;
  box-shadow: 0px 0px 16px;
}

.top-bar {
  background-color: pink;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  width: 100%;
  z-index: 10;
  padding: 10px;
}

.navbar {
  padding: 0.5rem 2rem;
}

.bottom-bar {
  background-color: gray;
  width: 100%;
}

.article-header {
  margin: 0px 0px 2rem 0px;
}

.author-names {
  list-style: none;

  &::before {
    content: "👥";
    margin: 0.3rem;
  }
}

.date-stamp::before {
  content: "🗓️";
  margin: 0.3rem;
}

.undermatter {
  color: gray;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-style: solid;
  border-width: 0px 0px 0px 0.3rem;
  padding: 0px 0px 0px 0.5rem;
}

.undermatter-text {
  /* padding: 0.2rem; */
}

.article-prose {
  margin-top: 3rem;
}