* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#content-strip {
  flex-grow: 1;
  width: 80%;
  border-style: solid;
  border-width: 0px 2px;
  padding: 0px 5rem;
}

.top-bar {
  background-color: pink;
  box-shadow: 0px 0px 10px 0px;
  width: 100%;
}

.navbar {
  padding: 0.5rem 2rem;
}

.bottom-bar {
  background-color: gray;
  width: 100%;
}