<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# see https://ogp.me/ #}
  {% if page.title isdefined %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ config.title }}">
  {% endif %}

  {% if page.authors isdefined %}
    {% for author in page.authors %}
    <meta name="author" content="{{ author }}">
    {% endfor %}
  {% elif config.author isdefined %}
    <meta name="author" content="{{ config.author }}">
  {% endif %}

  {% if page.description isdefined %}
    <meta name="og:description" content="{{ page.description }}">
  {% elif config.description isdefined %}
    <meta name="og:description" content="{{ config.description }}">
  {% endif %}

  <title>{% if page.title isdefined %}{{ page.title }} | {% endif %}{{ config.title }}</title>

  <link rel="stylesheet" href="/basic.css">
</head>

<body>
  <header class="top-bar">
  {% block header %}
  <nav class="navbar">
    <a href="/" id="top-bar-brand" class="top-bar-link"><h1>{{ config.title }}</h1></a>
    {% for slug in config.extra.nav_top_level %}
    <a href="/{{ slug }}" class="top-bar-link"><h2>{{ slug | capitalize }}</h2></a>
    {% endfor %}
  </nav>
  {% endblock header %}
  </header>

  <main id="content-strip">
    {% block content %}{{ page.content | safe }}{% endblock %}
  </main>

  <footer class="bottom-bar">
    {% block footer %}
    <span id="license-notice">Original site content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>.</span>
    <a id="source-link" href="{{ config.extra.source_link }}">Source Code</a>
    <div id="contact-info">
      {% for social_name, link in config.extra.socials %}
      <a href="{{ link }}" class="social-link" id="{{ social_name | slugify }}-social-link">
        <img alt="{{ social_name }} logo" src="/static/{{ social_name | slugify }}.png"/>
      </a>
      {% endfor %}
    </div>
    {% endblock footer %}
  </footer>
</body>

</html>
